.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #24282f;
  color: #ffffff;
  font-weight: bold;
}

.content {
  background-color: #3c3e44;
  padding: 40px;
  border-radius: 10px;
}
